<main class="index">
    <header class="masthead d-flex">
        
        <style>
    .hiddenitem{
    display: none !important;
    }
</style>
        <div class="container text-center my-auto">
            <p class="mb-1" style="font-size: 3em">ETIQUETADOR DE <strong>T E X T O</strong></p><br><br>
            <!--<p style="margin-top: -2.4em; font-size: 1.4em">DETECTA</p>-->
            <!---<h3 class="mb-5">
                <em>Tagg your own interviews</em>
            </h3>-->
            <a href="/interviews/Interview" class="btn btn-info btn-lg" style="background-color: white; color: #BE42ED">EMPEZAR</a>
        </div>
    </header>
</main>