
<main class="index">
    <header class="masthead d-flex">
            <style>
                .hiddenitem{
                display: none !important;
                }
</style>
        <div class="container text-center my-auto">
            <p class="mb-1" style="font-size: 3em">ETIQUETADOR DE <strong>T E X T O</strong></p><br><br>
            <h3 class="mb-5">
                
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                EMPEZAR
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>