<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid" >
    <div class="row" >

    <div class="col-sm-2">
      <button type="button" class="btn hiddenitem"  onclick="history.back()">
   <svg xmlns="http://www.w3.org/2000/svg"  style=" color: #BE42ED;"  width="35" height="35" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
</svg>
    <span class="visually-hidden"> </span>
    </button>
    </div>
    <div class="col-sm-2">
       <a class="navbar-brand" href="/" style=" color: #BE42ED; font-size: 1.2em"> <img src="/img/fondoCinvest.png" height="38" width="38"> Etiquetador gratuito</a>
    </div>

    </div>
       
  </div>
</nav>